  (module ArduinoMicro:ARDUINO_MICRO_SHIELD (layer F.Cu) (tedit 5AD0BFAC) (tstamp 5C9E2586)
    (at 0 0 180)
    (tags "ARDUINO, MICRO")
    (path /5C9DBF36/5C9DB045)
    (fp_text reference UArduinoMicro1 (at 26.67 -10.16 180) (layer F.SilkS)
      (effects (font (size 1.7 1.7) (thickness 0.15)))
    )
    (fp_text value ARDUINO_MICRO_SHIELD (at 26.67 -7.62 180) (layer F.SilkS)
      (effects (font (size 1.7 1.7) (thickness 0.15)))
    )
    (fp_line (start 45.212 -11.43) (end 48.006 -11.43) (layer F.SilkS) (width 0.15))
    (fp_line (start 45.212 -6.35) (end 45.212 -11.43) (layer F.SilkS) (width 0.15))
    (fp_line (start 48.006 -6.35) (end 45.212 -6.35) (layer F.SilkS) (width 0.15))
    (fp_text user USB (at 46.99 -8.89 270) (layer F.SilkS)
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start 0 0) (end 0 -18) (layer F.SilkS) (width 0.15))
    (fp_line (start 48 0) (end 0 0) (layer F.SilkS) (width 0.15))
    (fp_line (start 48 -18) (end 48 0) (layer F.SilkS) (width 0.15))
    (fp_line (start 0 -18) (end 48 -18) (layer F.SilkS) (width 0.15))
    (fp_circle (center 47 -16.51) (end 47.5 -16.51) (layer F.SilkS) (width 0.15))
    (fp_circle (center 47 -1.254) (end 47.5 -1.254) (layer F.SilkS) (width 0.15))
    (fp_circle (center 1 -16.51) (end 1.5 -16.51) (layer F.SilkS) (width 0.15))
    (fp_circle (center 1 -1.254) (end 1.5 -1.254) (layer F.SilkS) (width 0.15))
    (pad 12 thru_hole circle (at 44.14 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 9 COL9))
    (pad 11 thru_hole circle (at 41.6 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 1 COL1))
    (pad 10 thru_hole circle (at 39.06 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 5 COL5))
    (pad 9 thru_hole circle (at 36.52 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 6 COL6))
    (pad 8 thru_hole circle (at 33.98 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 7 COL7))
    (pad 7 thru_hole circle (at 31.44 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 22 "Net-(UArduinoMicro1-Pad7)"))
    (pad 6 thru_hole circle (at 28.9 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 8 COL8))
    (pad 5 thru_hole circle (at 26.36 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 4 COL4))
    (pad 4 thru_hole circle (at 23.82 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 10 COL10))
    (pad 3 thru_hole circle (at 21.28 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 23 "Net-(UArduinoMicro1-Pad3)"))
    (pad 2 thru_hole circle (at 18.74 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 24 "Net-(UArduinoMicro1-Pad2)"))
    (pad GND thru_hole circle (at 16.2 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 25 "Net-(UArduinoMicro1-PadGND)"))
    (pad RST thru_hole circle (at 13.66 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 26 "Net-(UArduinoMicro1-PadRST)"))
    (pad RX thru_hole circle (at 11.12 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 12 COL12))
    (pad TX thru_hole circle (at 8.58 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 13 COL13))
    (pad SS thru_hole circle (at 6.04 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 11 COL11))
    (pad MO thru_hole rect (at 3.5 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 21 COL0))
    (pad 13 thru_hole circle (at 44.14 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 3 COL3))
    (pad 3.3V thru_hole circle (at 41.6 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 27 "Net-(UArduinoMicro1-Pad3.3V)"))
    (pad AREF thru_hole circle (at 39.06 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 28 "Net-(UArduinoMicro1-PadAREF)"))
    (pad A0 thru_hole circle (at 36.52 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 15 COL15))
    (pad A1 thru_hole circle (at 33.98 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 16 ROW0))
    (pad A2 thru_hole circle (at 31.44 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 17 ROW1))
    (pad A3 thru_hole circle (at 28.9 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 18 ROW2))
    (pad A4 thru_hole circle (at 26.36 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 19 ROW3))
    (pad A5 thru_hole circle (at 23.82 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 20 ROW4))
    (pad NC thru_hole circle (at 21.28 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 29 "Net-(UArduinoMicro1-PadNC)"))
    (pad NC thru_hole circle (at 18.74 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 29 "Net-(UArduinoMicro1-PadNC)"))
    (pad 5V thru_hole circle (at 16.2 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 30 "Net-(UArduinoMicro1-Pad5V)"))
    (pad RST thru_hole circle (at 13.66 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 26 "Net-(UArduinoMicro1-PadRST)"))
    (pad GND thru_hole circle (at 11.12 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 25 "Net-(UArduinoMicro1-PadGND)"))
    (pad VI thru_hole circle (at 8.58 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 31 "Net-(UArduinoMicro1-PadVI)"))
    (pad MI thru_hole circle (at 6.04 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 2 COL2))
    (pad SCK thru_hole circle (at 3.5 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
      (net 14 COL14))
  )
