
  (module ArduinoMicro:ARDUINO_MICRO_SHIELD (layer F.Cu) (tedit 5CA1B772) (tstamp 5C9E2586)
    (at 0 0 180)
    (tags "ARDUINO, MICRO")
    (path /5C9DFD5E/5C9DB045)
    (fp_text reference UArduinoMicro1 (at 26.67 -10.16 180) (layer F.SilkS)
      (effects (font (size 1.7 1.7) (thickness 0.15)
))
    )
    (fp_text value ARDUINO_MICRO_SHIELD (at 26.67 -7.62 180) (layer F.SilkS)
      (effects (font (size 1.7 1.7) (thickness 0.15)
))
    )
    (fp_line (start 45.212 -11.43) (end 48.006 -11.43) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 45.212 -6.35) (end 45.212 -11.43) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 48.006 -6.35) (end 45.212 -6.35) (layer F.SilkS) (width 0.15)
)
    (fp_text user USB (at 46.99 -8.89 270) (layer F.SilkS)
      (effects (font (size 1 1) (thickness 0.15)
))
    )
    (fp_line (start 0 0) (end 0 -18) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 48 0) (end 0 0) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 48 -18) (end 48 0) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 0 -18) (end 48 -18) (layer F.SilkS) (width 0.15)
)
    (fp_circle (center 47 -16.51) (end 47.5 -16.51) (layer F.SilkS) (width 0.15)
)
    (fp_circle (center 47 -1.254) (end 47.5 -1.254) (layer F.SilkS) (width 0.15)
)
    (fp_circle (center 1 -16.51) (end 1.5 -16.51) (layer F.SilkS) (width 0.15)
)
    (fp_circle (center 1 -1.254) (end 1.5 -1.254) (layer F.SilkS) (width 0.15)
)
    (pad 12 thru_hole circle (at 44.14 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 11 thru_hole circle (at 41.6 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 10 thru_hole circle (at 39.06 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 9 thru_hole circle (at 36.52 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 8 thru_hole circle (at 33.98 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 7 thru_hole circle (at 31.44 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 6 thru_hole circle (at 28.9 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 5 thru_hole circle (at 26.36 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 4 thru_hole circle (at 23.82 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 3 thru_hole circle (at 21.28 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 2 thru_hole circle (at 18.74 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad GND thru_hole circle (at 16.2 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad RST thru_hole circle (at 13.66 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad RX thru_hole circle (at 11.12 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad TX thru_hole circle (at 8.58 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad SS thru_hole circle (at 6.04 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad MO thru_hole rect (at 3.5 -1.254 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 13 thru_hole circle (at 44.14 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 3.3V thru_hole circle (at 41.6 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad AREF thru_hole circle (at 39.06 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad A0 thru_hole circle (at 36.52 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad A1 thru_hole circle (at 33.98 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad A2 thru_hole circle (at 31.44 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad A3 thru_hole circle (at 28.9 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad A4 thru_hole circle (at 26.36 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad A5 thru_hole circle (at 23.82 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad NC thru_hole circle (at 21.28 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad NC thru_hole circle (at 18.74 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad 5V thru_hole circle (at 16.2 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad "" thru_hole circle (at 13.66 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad GND thru_hole circle (at 11.12 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad VI thru_hole circle (at 8.58 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad MI thru_hole circle (at 6.04 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
    (pad SCK thru_hole circle (at 3.5 -16.51 180) (size 1.7 1.7) (drill 1) (layers *.Cu *.Mask)
)
  )

  (module Teensy:Teensy2.0 (layer F.Cu) (tedit 5CA1B4C3) (tstamp 5CA29BF4)
    (at -32.695 11.44)
    (descr 11)
    (path /5C9DFDC4/5C9E5313)
    (fp_text reference Teensy1 (at 0 -10.16) (layer F.SilkS)
      (effects (font (size 1 1) (thickness 0.15)
))
    )
    (fp_text value Teensy2.0 (at 0 10.16) (layer F.Fab)
      (effects (font (size 1 1) (thickness 0.15)
))
    )
    (fp_line (start -15.24 8.89) (end -15.24 -8.89) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 15.24 8.89) (end -15.24 8.89) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 15.24 -8.89) (end 15.24 8.89) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -15.24 -8.89) (end 15.24 -8.89) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -7.62 -3.81) (end -7.62 3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -16.51 -3.81) (end -7.62 -3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -16.51 3.81) (end -16.51 -3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -7.62 3.81) (end -16.51 3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -1.27 -3.81) (end -1.27 3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 6.35 -3.81) (end -1.27 -3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 6.35 3.81) (end 6.35 -3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start -1.27 3.81) (end 6.35 3.81) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 12.7 1.27) (end 12.7 -2.54) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 8.89 1.27) (end 12.7 1.27) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 8.89 0) (end 8.89 1.27) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 8.89 -2.54) (end 8.89 0) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 12.7 -2.54) (end 8.89 -2.54) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 12.7 5.08) (end 12.7 2.54) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 8.89 5.08) (end 12.7 5.08) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 8.89 2.54) (end 8.89 5.08) (layer F.SilkS) (width 0.15)
)
    (fp_line (start 12.7 2.54) (end 8.89 2.54) (layer F.SilkS) (width 0.15)
)
    (pad 31 smd circle (at -3.81 -5.08) (size 0.0001 0.0001) (layers F.SilkS)
)
    (pad 30 smd circle (at -3.81 5.08) (size 0.001 0.001) (layers F.Cu)
)
    (pad 29 thru_hole circle (at -13.97 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 28 thru_hole circle (at -11.43 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 27 thru_hole circle (at -8.89 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 26 thru_hole circle (at -6.35 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 25 thru_hole circle (at -3.81 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 24 thru_hole circle (at -1.27 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 23 thru_hole circle (at 1.27 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 22 thru_hole circle (at 3.81 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 21 thru_hole circle (at 6.35 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 20 thru_hole circle (at 8.89 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 19 thru_hole circle (at 11.43 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 18 thru_hole circle (at 13.97 -7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 17 thru_hole circle (at 13.97 -5.08) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 16 thru_hole circle (at 13.97 -2.54) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 14 thru_hole circle (at 13.97 2.54) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 13 thru_hole circle (at 13.97 5.08) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 12 thru_hole circle (at 13.97 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 11 thru_hole circle (at 11.43 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 10 thru_hole circle (at 8.89 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 9 thru_hole circle (at 6.35 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 8 thru_hole circle (at 3.81 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 7 thru_hole circle (at 1.27 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 6 thru_hole circle (at -1.27 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 5 thru_hole circle (at -3.81 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 4 thru_hole circle (at -6.35 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 3 thru_hole circle (at -8.89 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 2 thru_hole circle (at -11.43 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 1 thru_hole rect (at -13.97 7.62) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
    (pad 15 thru_hole circle (at 13.97 0) (size 1.6 1.6) (drill 1.1) (layers *.Cu *.Mask F.SilkS)
)
  )

