$Comp
L Keyboard-symbols:Switch_SW_Push ##reference##
U ##pkg## 1 ##path##
P ##x## ##y##
F 0 "##reference##" H ##ref_x## ##ref_y## 60  0000 C CNN
F 1 "##label##" H ##label_x## ##label_y##  60  0000 C CNN
F 2 "Keyboardio:MX-KailhClip-1.00u" H ##x## ##y## 60  0001 C CNN
F 3 "" H ##x## ##y## 60  0000 C CNN
    ##pkg##    ##x## ##y##
    -1    0    0    1
$EndComp
