$Comp
L Keyboard-symbols:led_LED-RGB-CA ##reference##
U ##pkg## 1 ##path##
P ##x## ##y##
F 0 "##reference##" H ##x## ##ref_y## 60  0000 C CNN
F 1 "3528 RGB LED" H ##x## ##y## 60  0001 C CNN
F 2 "Keyboardio:LED_RGB_3528" H ##x## ##y## 60  0001 C CNN
F 3 "" H ##x## ##y## 60  0000 C CNN
    ##pkg##    ##x## ##y##
    1    0    0   -1 
$EndComp
