$Comp
L Keyboard-symbols:Device_D ##reference##
U ##pkg## 1 ##path##
P ##x## ##y##
F 0 "##reference##" H ##ref_x## ##ref_y## 60  0000 C CNN
F 1 "1N4148" H ##x## ##y## 60  0001 C CNN
F 2 "Diode_SMD:D_SOD-123" H ##x## ##y## 60  0001 C CNN
F 3 "" H ##x## ##y## 60  0000 C CNN
    ##pkg##    ##x## ##y##
    0    -1   -1   0
$EndComp
