(kicad_pcb (version 20190605) (host pcbnew "6.0.0-unknown-r16638-0328f3e3")

  (general
    (thickness 1.6)
    (drawings 0)
    (tracks 136)
    (modules 9)
    (nets 19)
  )

  (page "A2")
  (layers
    (0 "F.Cu" signal)
    (31 "B.Cu" signal)
    (32 "B.Adhes" user hide)
    (33 "F.Adhes" user hide)
    (34 "B.Paste" user hide)
    (35 "F.Paste" user hide)
    (36 "B.SilkS" user)
    (37 "F.SilkS" user)
    (38 "B.Mask" user hide)
    (39 "F.Mask" user hide)
    (40 "Dwgs.User" user)
    (41 "Cmts.User" user hide)
    (42 "Eco1.User" user hide)
    (43 "Eco2.User" user hide)
    (44 "Edge.Cuts" user)
    (45 "Margin" user hide)
    (46 "B.CrtYd" user)
    (47 "F.CrtYd" user hide)
    (48 "B.Fab" user hide)
    (49 "F.Fab" user hide)
  )

  (setup
    (last_trace_width 0.2032)
    (user_trace_width 0.127)
    (user_trace_width 0.1524)
    (user_trace_width 0.2032)
    (user_trace_width 0.254)
    (user_trace_width 0.3048)
    (user_trace_width 0.381)
    (user_trace_width 0.762)
    (trace_clearance 0.1524)
    (zone_clearance 0.508)
    (zone_45_only yes)
    (trace_min 0.127)
    (via_size 0.508)
    (via_drill 0.33)
    (via_min_size 0.508)
    (via_min_drill 0.2032)
    (user_via 0.508 0.33)
    (user_via 0.762 0.508)
    (uvia_size 0.508)
    (uvia_drill 0.33)
    (uvias_allowed no)
    (uvia_min_size 0.508)
    (uvia_min_drill 0.254)
    (max_error 0.005)
    (defaults
      (edge_clearance 0.01)
      (edge_cuts_line_width 0.1)
      (courtyard_line_width 0.05)
      (copper_line_width 0.2)
      (copper_text_dims (size 1.5 1.5) (thickness 0.3) keep_upright)
      (silk_line_width 0.15)
      (silk_text_dims (size 1 1) (thickness 0.15) keep_upright)
      (other_layers_line_width 0.1)
      (other_layers_text_dims (size 1 1) (thickness 0.15) keep_upright)
    )
    (pad_size 1 2.3)
    (pad_drill 0.6)
    (pad_to_mask_clearance 0)
    (solder_mask_min_width 0.25)
    (pad_to_paste_clearance 0.01)
    (aux_axis_origin 0 0)
    (visible_elements 7FFFB67F)
    (pcbplotparams
      (layerselection 0x010fc_80000001)
      (usegerberextensions false)
      (usegerberattributes false)
      (usegerberadvancedattributes false)
      (creategerberjobfile false)
      (gerberprecision 5)
      (excludeedgelayer false)
      (linewidth 0.050000)
      (plotframeref false)
      (viasonmask false)
      (mode 1)
      (useauxorigin false)
      (hpglpennumber 1)
      (hpglpenspeed 20)
      (hpglpendiameter 15.000000)
      (psnegative false)
      (psa4output false)
      (plotreference true)
      (plotvalue false)
      (plotinvisibletext false)
      (padsonsilk false)
      (subtractmaskfromsilk false)
      (outputformat 1)
      (mirror false)
      (drillshape 0)
      (scaleselection 1)
      (outputdirectory ""))
  )

  (net 0 "")
  (net 1 "GND")
  (net 2 "+5V")
  (net 3 "/USB/USBSHIELD")
  (net 4 "/USB/USBVBUS")
  (net 5 "/USB/USB_D+")
  (net 6 "/USB/USB_D-")
  (net 7 "/USB/CC2")
  (net 8 "/USB/CC1")
  (net 9 "Net-(USB1-PadA2)")
  (net 10 "Net-(USB1-PadA3)")
  (net 11 "Net-(USB1-PadA8)")
  (net 12 "Net-(USB1-PadA10)")
  (net 13 "Net-(USB1-PadA11)")
  (net 14 "Net-(USB1-PadB11)")
  (net 15 "Net-(USB1-PadB10)")
  (net 16 "Net-(USB1-PadB8)")
  (net 17 "Net-(USB1-PadB3)")
  (net 18 "Net-(USB1-PadB2)")

  (net_class "Default" "This is the default net class."
    (clearance 0.1524)
    (trace_width 0.2032)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
    (add_net "/USB/CC1")
    (add_net "/USB/CC2")
    (add_net "/USB/USBVBUS")
  )

  (net_class "COLS" ""
    (clearance 0.1524)
    (trace_width 0.2032)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
  )

  (net_class "ESD" ""
    (clearance 0.4064)
    (trace_width 0.254)
    (via_dia 0.762)
    (via_drill 0.508)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
  )

  (net_class "I2C" ""
    (clearance 0.1524)
    (trace_width 0.2032)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
  )

  (net_class "LED_CS" ""
    (clearance 0.1524)
    (trace_width 0.2032)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
  )

  (net_class "LED_SW" ""
    (clearance 0.1524)
    (trace_width 0.3048)
    (via_dia 0.762)
    (via_drill 0.508)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
  )

  (net_class "Power" ""
    (clearance 0.1524)
    (trace_width 0.508)
    (via_dia 0.762)
    (via_drill 0.508)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
    (add_net "+5V")
    (add_net "/USB/USBSHIELD")
    (add_net "GND")
  )

  (net_class "ROWS" ""
    (clearance 0.1524)
    (trace_width 0.2032)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.254)
    (diff_pair_gap 0.2032)
  )

  (net_class "USB" ""
    (clearance 0.1524)
    (trace_width 0.762)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.2032)
    (add_net "/USB/USB_D+")
    (add_net "/USB/USB_D-")
  )

  (net_class "USBC_PINS" ""
    (clearance 0.1524)
    (trace_width 0.1524)
    (via_dia 0.508)
    (via_drill 0.33)
    (uvia_dia 0.508)
    (uvia_drill 0.33)
    (diff_pair_width 0.2032)
    (diff_pair_gap 0.254)
    (add_net "Net-(USB1-PadA10)")
    (add_net "Net-(USB1-PadA11)")
    (add_net "Net-(USB1-PadA2)")
    (add_net "Net-(USB1-PadA3)")
    (add_net "Net-(USB1-PadA8)")
    (add_net "Net-(USB1-PadB10)")
    (add_net "Net-(USB1-PadB11)")
    (add_net "Net-(USB1-PadB2)")
    (add_net "Net-(USB1-PadB3)")
    (add_net "Net-(USB1-PadB8)")
  )

  (module "Resistor_SMD:R_0603_1608Metric" (layer "F.Cu") (tedit 5B301BBD) (tstamp 5C697A1D)
    (at 218.67 19.635 90)
    (descr "Resistor SMD 0603 (1608 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: http://www.tortai-tech.com/upload/download/2011102023233369053.pdf), generated with kicad-footprint-generator")
    (tags "resistor")
    (path "/5B90A59F/5B5FAE80")
    (attr smd)
    (fp_text reference "R7" (at -2.25 0.25 180) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "5.1K" (at 0 1.17 270) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -0.8 0.4) (end -0.8 -0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.8 -0.4) (end 0.8 -0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start 0.8 -0.4) (end 0.8 0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start 0.8 0.4) (end -0.8 0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.162779 -0.51) (end 0.162779 -0.51) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.162779 0.51) (end 0.162779 0.51) (layer "F.SilkS") (width 0.12))
    (fp_line (start -1.48 0.73) (end -1.48 -0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -1.48 -0.73) (end 1.48 -0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.48 -0.73) (end 1.48 0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.48 0.73) (end -1.48 0.73) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0 270) (layer "F.Fab")
      (effects (font (size 0.25 0.25) (thickness 0.04)))
    )
    (pad "2" smd roundrect (at 0.7875 0 90) (size 0.875 0.95) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 8 "/USB/CC1"))
    (pad "1" smd roundrect (at -0.7875 0 90) (size 0.875 0.95) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 1 "GND"))
    (model "${KISYS3DMOD}/Resistor_SMD.3dshapes/R_0603_1608Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (module "Resistor_SMD:R_0603_1608Metric" (layer "F.Cu") (tedit 5B301BBD) (tstamp 5C697A0E)
    (at 211.92 19.635 90)
    (descr "Resistor SMD 0603 (1608 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: http://www.tortai-tech.com/upload/download/2011102023233369053.pdf), generated with kicad-footprint-generator")
    (tags "resistor")
    (path "/5B90A59F/5B5FB101")
    (attr smd)
    (fp_text reference "R6" (at 0 -1.17 270) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "5.1K" (at 0 1.17 270) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -0.8 0.4) (end -0.8 -0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.8 -0.4) (end 0.8 -0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start 0.8 -0.4) (end 0.8 0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start 0.8 0.4) (end -0.8 0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.162779 -0.51) (end 0.162779 -0.51) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.162779 0.51) (end 0.162779 0.51) (layer "F.SilkS") (width 0.12))
    (fp_line (start -1.48 0.73) (end -1.48 -0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -1.48 -0.73) (end 1.48 -0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.48 -0.73) (end 1.48 0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.48 0.73) (end -1.48 0.73) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0 270) (layer "F.Fab")
      (effects (font (size 0.25 0.25) (thickness 0.04)))
    )
    (pad "2" smd roundrect (at 0.7875 0 90) (size 0.875 0.95) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 7 "/USB/CC2"))
    (pad "1" smd roundrect (at -0.7875 0 90) (size 0.875 0.95) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 1 "GND"))
    (model "${KISYS3DMOD}/Resistor_SMD.3dshapes/R_0603_1608Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (module "Keyboardio:USB-TYPE-C-MIDMOUNT" (layer "F.Cu") (tedit 5BAE83C6) (tstamp 5C698A9B)
    (at 214.965 15.875 180)
    (path "/5B90A59F/5B5FB0C4")
    (clearance 0.075)
    (fp_text reference "USB1" (at -7.705 -0.01 270) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "USB_C_Receptacle" (at 0 -3.2) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_arc (start -4.7 2.05) (end -4.7 2.5) (angle 180) (layer "Edge.Cuts") (width 0.01))
    (fp_line (start 7 6.85) (end 4.7 6.85) (layer "Edge.Cuts") (width 0.01))
    (fp_line (start -7 6.85) (end -4.7 6.85) (layer "Edge.Cuts") (width 0.01))
    (fp_line (start 4.7 1.6) (end -4.7 1.6) (layer "Edge.Cuts") (width 0.01))
    (fp_arc (start 4.7 2.05) (end 4.7 1.6) (angle 180) (layer "Edge.Cuts") (width 0.01))
    (fp_line (start -4.7 2.5) (end -4.7 6.85) (layer "Edge.Cuts") (width 0.01))
    (fp_line (start 4.7 2.5) (end 4.7 6.85) (layer "Edge.Cuts") (width 0.01))
    (fp_line (start -7 6.85) (end -7 -1.85) (layer "F.SilkS") (width 0.15))
    (fp_line (start -7 -1.85) (end 7 -1.85) (layer "F.SilkS") (width 0.15))
    (fp_line (start 7 -1.85) (end 7 6.85) (layer "F.SilkS") (width 0.15))
    (pad "S1" thru_hole oval (at 5.85 5.3 180) (size 1.3 2.75) (drill oval 0.7 1.5 (offset 0 -0.25)) (layers *.Cu *.Mask)
      (net 3 "/USB/USBSHIELD"))
    (pad "S1" thru_hole oval (at -5.85 5.3 180) (size 1.3 2.75) (drill oval 0.7 1.5 (offset 0 -0.25)) (layers *.Cu *.Mask)
      (net 3 "/USB/USBSHIELD"))
    (pad "A1" smd rect (at -2.625 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 1 "GND"))
    (pad "A2" smd rect (at -2.125 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 9 "Net-(USB1-PadA2)"))
    (pad "A3" smd rect (at -1.625 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 10 "Net-(USB1-PadA3)"))
    (pad "A4" smd rect (at -1.125 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 4 "/USB/USBVBUS"))
    (pad "A5" smd rect (at -0.625 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 8 "/USB/CC1"))
    (pad "A6" smd rect (at -0.125 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 5 "/USB/USB_D+"))
    (pad "A7" smd rect (at 0.375 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 6 "/USB/USB_D-"))
    (pad "A8" smd rect (at 0.875 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 11 "Net-(USB1-PadA8)"))
    (pad "A9" smd rect (at 1.375 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 4 "/USB/USBVBUS"))
    (pad "A10" smd rect (at 1.875 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 12 "Net-(USB1-PadA10)"))
    (pad "A11" smd rect (at 2.375 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 13 "Net-(USB1-PadA11)"))
    (pad "A12" smd rect (at 2.875 -0.7 180) (size 0.27 0.9) (layers "F.Cu" "F.Adhes" "F.Paste" "F.Mask")
      (net 1 "GND"))
    (pad "B12" smd rect (at -2.875 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 1 "GND"))
    (pad "B11" smd rect (at -2.375 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 14 "Net-(USB1-PadB11)"))
    (pad "B10" smd rect (at -1.875 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 15 "Net-(USB1-PadB10)"))
    (pad "B9" smd rect (at -1.375 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 4 "/USB/USBVBUS"))
    (pad "B8" smd rect (at -0.875 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 16 "Net-(USB1-PadB8)"))
    (pad "B7" smd rect (at -0.375 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 6 "/USB/USB_D-"))
    (pad "B6" smd rect (at 0.125 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 5 "/USB/USB_D+"))
    (pad "B5" smd rect (at 0.625 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 7 "/USB/CC2"))
    (pad "B4" smd rect (at 1.125 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 4 "/USB/USBVBUS"))
    (pad "B3" smd rect (at 1.625 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 17 "Net-(USB1-PadB3)"))
    (pad "B2" smd rect (at 2.125 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 18 "Net-(USB1-PadB2)"))
    (pad "B1" smd rect (at 2.625 0.9 180) (size 0.27 0.8) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 1 "GND"))
    (pad "S1" thru_hole oval (at -4.32 0 180) (size 1 2.3) (drill oval 0.6 1.9) (layers *.Cu *.Mask)
      (net 3 "/USB/USBSHIELD"))
    (pad "S1" thru_hole oval (at -4 0.6 180) (size 1.55 1.1) (drill oval 1.25 0.7) (layers *.Cu *.Mask)
      (net 3 "/USB/USBSHIELD"))
    (pad "S1" thru_hole oval (at 4.32 0 180) (size 1 2.3) (drill oval 0.6 1.9) (layers *.Cu *.Mask)
      (net 3 "/USB/USBSHIELD"))
    (pad "S1" thru_hole oval (at 4 0.6 180) (size 1.6 1.2) (drill oval 1.25 0.7) (layers *.Cu *.Mask)
      (net 3 "/USB/USBSHIELD"))
    (model "../../../../../../Users/jesse/Documents/GitHub/PCB-Model01/kicad/shapes3D/DX07-midmount-2.wrl"
      (offset (xyz 0 -2.79399995803833 0.3809999942779541))
      (scale (xyz 0.4 0.4 0.4))
      (rotate (xyz 90 180 180))
    )
  )

  (module "Resistor_SMD:R_0603_1608Metric" (layer "F.Cu") (tedit 5B301BBD) (tstamp 5C6A4F5C)
    (at 206.17 15.06 180)
    (descr "Resistor SMD 0603 (1608 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: http://www.tortai-tech.com/upload/download/2011102023233369053.pdf), generated with kicad-footprint-generator")
    (tags "resistor")
    (path "/5B90A59F/5BAC53C5")
    (attr smd)
    (fp_text reference "R3" (at 2.75 0) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "500K" (at 0 1.43) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -0.8 0.4) (end -0.8 -0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.8 -0.4) (end 0.8 -0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start 0.8 -0.4) (end 0.8 0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start 0.8 0.4) (end -0.8 0.4) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.162779 -0.51) (end 0.162779 -0.51) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.162779 0.51) (end 0.162779 0.51) (layer "F.SilkS") (width 0.12))
    (fp_line (start -1.48 0.73) (end -1.48 -0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -1.48 -0.73) (end 1.48 -0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.48 -0.73) (end 1.48 0.73) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.48 0.73) (end -1.48 0.73) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0) (layer "F.Fab")
      (effects (font (size 0.4 0.4) (thickness 0.06)))
    )
    (pad "2" smd roundrect (at 0.7875 0 180) (size 0.875 0.95) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 1 "GND"))
    (pad "1" smd roundrect (at -0.7875 0 180) (size 0.875 0.95) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 3 "/USB/USBSHIELD"))
    (model "${KISYS3DMOD}/Resistor_SMD.3dshapes/R_0603_1608Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (module "Resistor_SMD:R_1206_3216Metric" (layer "F.Cu") (tedit 5B301BBD) (tstamp 5C697208)
    (at 228.17 15.195 270)
    (descr "Resistor SMD 1206 (3216 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: http://www.tortai-tech.com/upload/download/2011102023233369053.pdf), generated with kicad-footprint-generator")
    (tags "resistor")
    (path "/5B90A59F/54E4D3C3")
    (attr smd)
    (fp_text reference "L1" (at -3.03 0) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "BLM31PG391SN1L" (at 0 1.82 90) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -1.6 0.8) (end -1.6 -0.8) (layer "F.Fab") (width 0.1))
    (fp_line (start -1.6 -0.8) (end 1.6 -0.8) (layer "F.Fab") (width 0.1))
    (fp_line (start 1.6 -0.8) (end 1.6 0.8) (layer "F.Fab") (width 0.1))
    (fp_line (start 1.6 0.8) (end -1.6 0.8) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.602064 -0.91) (end 0.602064 -0.91) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.602064 0.91) (end 0.602064 0.91) (layer "F.SilkS") (width 0.12))
    (fp_line (start -2.28 1.12) (end -2.28 -1.12) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -2.28 -1.12) (end 2.28 -1.12) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 2.28 -1.12) (end 2.28 1.12) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 2.28 1.12) (end -2.28 1.12) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0 90) (layer "F.Fab")
      (effects (font (size 0.8 0.8) (thickness 0.12)))
    )
    (pad "2" smd roundrect (at 1.4 0 270) (size 1.25 1.75) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.2)
      (net 4 "/USB/USBVBUS"))
    (pad "1" smd roundrect (at -1.4 0 270) (size 1.25 1.75) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.2)
      (net 2 "+5V"))
    (model "${KISYS3DMOD}/Resistor_SMD.3dshapes/R_1206_3216Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (module "Keyboardio:PRTR5V0U2X" (layer "F.Cu") (tedit 0) (tstamp 5C8C7F42)
    (at 214.92 19.635 270)
    (path "/5B90A59F/5B5FB132")
    (fp_text reference "ESD1" (at 2.25 0) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "PRTR5V0U2X" (at 0 0 90) (layer "F.SilkS") hide
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text user "Copyright 2016 Accelerated Designs. All rights reserved." (at 0 0 90) (layer "Cmts.User") hide
      (effects (font (size 0.127 0.127) (thickness 0.002)))
    )
    (fp_line (start -1.1913 -0.6985) (end -0.7087 -0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -0.7087 -0.6985) (end -0.7087 -1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -0.7087 -1.2446) (end -1.1913 -1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -1.1913 -1.2446) (end -1.1913 -0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 0.7087 -0.6985) (end 1.1913 -0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 1.1913 -0.6985) (end 1.1913 -1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 1.1913 -1.2446) (end 0.7087 -1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 0.7087 -1.2446) (end 0.7087 -0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -0.3023 0.6985) (end -1.1913 0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -1.1913 0.6985) (end -1.1913 1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -1.1913 1.2446) (end -0.3023 1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -0.3023 1.2446) (end -0.3023 0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 1.1913 0.6985) (end 0.7087 0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 0.7087 0.6985) (end 0.7087 1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 0.7087 1.2446) (end 1.1913 1.2446) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 1.1913 1.2446) (end 1.1913 0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -1.4986 -0.6985) (end 1.4986 -0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 1.4986 -0.6985) (end 1.4986 0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start 1.4986 0.6985) (end -1.4986 0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -1.4986 0.6985) (end -1.4986 -0.6985) (layer "Dwgs.User") (width 0.1524))
    (fp_line (start -0.350561 -0.6985) (end 0.350561 -0.6985) (layer "F.SilkS") (width 0.1524))
    (fp_line (start 1.4986 -0.255027) (end 1.4986 0.255028) (layer "F.SilkS") (width 0.1524))
    (fp_line (start 0.35056 0.6985) (end 0.05584 0.6985) (layer "F.SilkS") (width 0.1524))
    (fp_line (start -1.4986 0.255028) (end -1.4986 -0.255027) (layer "F.SilkS") (width 0.1524))
    (fp_circle (center -1.2446 0.4445) (end -1.1176 0.4445) (layer "Dwgs.User") (width 0.1524))
    (fp_circle (center -2.7686 1.2446) (end -2.6416 1.2446) (layer "F.SilkS") (width 0.1524))
    (pad "4" smd rect (at -0.950001 -1.016 270) (size 0.5334 1.1684) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 4 "/USB/USBVBUS"))
    (pad "3" smd rect (at 0.950001 -1.016 270) (size 0.5334 1.1684) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 6 "/USB/USB_D-"))
    (pad "2" smd rect (at 0.95 1.016 270) (size 0.5334 1.1684) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 5 "/USB/USB_D+"))
    (pad "1" smd rect (at -0.7468 1.016 270) (size 0.9398 1.1684) (layers "F.Cu" "F.Paste" "F.Mask")
      (net 1 "GND"))
  )

  (module "Capacitor_SMD:C_0805_2012Metric" (layer "F.Cu") (tedit 5B36C52B) (tstamp 5C6A4A3D)
    (at 225.26 16.435 180)
    (descr "Capacitor SMD 0805 (2012 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: https://docs.google.com/spreadsheets/d/1BsfQQcO9C6DZCsRaXUlFlo91Tg2WpOkGARC1WS5S8t0/edit?usp=sharing), generated with kicad-footprint-generator")
    (tags "capacitor")
    (path "/5B90A59F/568002EA")
    (attr smd)
    (fp_text reference "C11" (at 2.5 0 270) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "4.7uF 16V X7R" (at 0 1.65) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -1 0.6) (end -1 -0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start -1 -0.6) (end 1 -0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start 1 -0.6) (end 1 0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start 1 0.6) (end -1 0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.258578 -0.71) (end 0.258578 -0.71) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.258578 0.71) (end 0.258578 0.71) (layer "F.SilkS") (width 0.12))
    (fp_line (start -1.68 0.95) (end -1.68 -0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -1.68 -0.95) (end 1.68 -0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.68 -0.95) (end 1.68 0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.68 0.95) (end -1.68 0.95) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0) (layer "F.Fab")
      (effects (font (size 0.5 0.5) (thickness 0.08)))
    )
    (pad "2" smd roundrect (at 0.9375 0 180) (size 0.975 1.4) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 1 "GND"))
    (pad "1" smd roundrect (at -0.9375 0 180) (size 0.975 1.4) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 4 "/USB/USBVBUS"))
    (model "${KISYS3DMOD}/Capacitor_SMD.3dshapes/C_0805_2012Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (module "Capacitor_SMD:C_0805_2012Metric" (layer "F.Cu") (tedit 5B36C52B) (tstamp 5C8E816F)
    (at 225.24 13.875 180)
    (descr "Capacitor SMD 0805 (2012 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: https://docs.google.com/spreadsheets/d/1BsfQQcO9C6DZCsRaXUlFlo91Tg2WpOkGARC1WS5S8t0/edit?usp=sharing), generated with kicad-footprint-generator")
    (tags "capacitor")
    (path "/5B90A59F/5BAC53C8")
    (attr smd)
    (fp_text reference "C10" (at 2.5 0 270) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "4.7uF 16V X7R" (at 0 1.65) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -1 0.6) (end -1 -0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start -1 -0.6) (end 1 -0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start 1 -0.6) (end 1 0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start 1 0.6) (end -1 0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.258578 -0.71) (end 0.258578 -0.71) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.258578 0.71) (end 0.258578 0.71) (layer "F.SilkS") (width 0.12))
    (fp_line (start -1.68 0.95) (end -1.68 -0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -1.68 -0.95) (end 1.68 -0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.68 -0.95) (end 1.68 0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.68 0.95) (end -1.68 0.95) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0) (layer "F.Fab")
      (effects (font (size 0.5 0.5) (thickness 0.08)))
    )
    (pad "2" smd roundrect (at 0.9375 0 180) (size 0.975 1.4) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 1 "GND"))
    (pad "1" smd roundrect (at -0.9375 0 180) (size 0.975 1.4) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 2 "+5V"))
    (model "${KISYS3DMOD}/Capacitor_SMD.3dshapes/C_0805_2012Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (module "Capacitor_SMD:C_0805_2012Metric" (layer "F.Cu") (tedit 5B36C52B) (tstamp 5C696C55)
    (at 205.97 16.835 180)
    (descr "Capacitor SMD 0805 (2012 Metric), square (rectangular) end terminal, IPC_7351 nominal, (Body size source: https://docs.google.com/spreadsheets/d/1BsfQQcO9C6DZCsRaXUlFlo91Tg2WpOkGARC1WS5S8t0/edit?usp=sharing), generated with kicad-footprint-generator")
    (tags "capacitor")
    (path "/5B90A59F/5BAC53C6")
    (attr smd)
    (fp_text reference "C9" (at 2.75 0) (layer "F.SilkS")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_text value "10nF 100V" (at 0 1.65) (layer "F.Fab")
      (effects (font (size 1 1) (thickness 0.15)))
    )
    (fp_line (start -1 0.6) (end -1 -0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start -1 -0.6) (end 1 -0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start 1 -0.6) (end 1 0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start 1 0.6) (end -1 0.6) (layer "F.Fab") (width 0.1))
    (fp_line (start -0.258578 -0.71) (end 0.258578 -0.71) (layer "F.SilkS") (width 0.12))
    (fp_line (start -0.258578 0.71) (end 0.258578 0.71) (layer "F.SilkS") (width 0.12))
    (fp_line (start -1.68 0.95) (end -1.68 -0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start -1.68 -0.95) (end 1.68 -0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.68 -0.95) (end 1.68 0.95) (layer "F.CrtYd") (width 0.05))
    (fp_line (start 1.68 0.95) (end -1.68 0.95) (layer "F.CrtYd") (width 0.05))
    (fp_text user "%R" (at 0 0) (layer "F.Fab")
      (effects (font (size 0.5 0.5) (thickness 0.08)))
    )
    (pad "2" smd roundrect (at 0.9375 0 180) (size 0.975 1.4) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 1 "GND"))
    (pad "1" smd roundrect (at -0.9375 0 180) (size 0.975 1.4) (layers "F.Cu" "F.Paste" "F.Mask") (roundrect_rratio 0.25)
      (net 3 "/USB/USBSHIELD"))
    (model "${KISYS3DMOD}/Capacitor_SMD.3dshapes/C_0805_2012Metric.wrl"
      (at (xyz 0 0 0))
      (scale (xyz 1 1 1))
      (rotate (xyz 0 0 0))
    )
  )

  (segment (start 217.67 18.885) (end 216.302211 17.517211) (width 0.1524) (layer "B.Cu") (net 8))
  (segment (start 215.862465 17.263212) (end 215.898931 17.263212) (width 0.1524) (layer "F.Cu") (net 8))
  (segment (start 215.898931 17.263212) (end 216.15293 17.517211) (width 0.1524) (layer "F.Cu") (net 8))
  (segment (start 215.59 16.990747) (end 215.862465 17.263212) (width 0.1524) (layer "F.Cu") (net 8))
  (segment (start 216.302211 17.517211) (end 216.15293 17.517211) (width 0.1524) (layer "B.Cu") (net 8))
  (segment (start 215.59 16.575) (end 215.59 16.990747) (width 0.1524) (layer "F.Cu") (net 8))
  (via (at 216.15293 17.517211) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 8))
  (segment (start 217.67 18.885) (end 218.6325 18.885) (width 0.1524) (layer "F.Cu") (net 8))
  (segment (start 218.6325 18.885) (end 218.67 18.8475) (width 0.1524) (layer "F.Cu") (net 8))
  (via (at 217.67 18.885) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 8))
  (segment (start 212.659073 17.695068) (end 212.659073 18.390256) (width 0.1524) (layer "B.Cu") (net 7))
  (segment (start 212.561039 18.8475) (end 212.659073 18.749466) (width 0.1524) (layer "F.Cu") (net 7))
  (via (at 212.659073 18.749466) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 7))
  (segment (start 211.92 18.8475) (end 212.561039 18.8475) (width 0.1524) (layer "F.Cu") (net 7))
  (segment (start 214.273445 16.080696) (end 212.659073 17.695068) (width 0.1524) (layer "B.Cu") (net 7))
  (segment (start 214.273445 15.721486) (end 214.273445 16.080696) (width 0.1524) (layer "B.Cu") (net 7))
  (segment (start 212.659073 18.390256) (end 212.659073 18.749466) (width 0.1524) (layer "B.Cu") (net 7))
  (segment (start 214.34 14.975) (end 214.34 15.654931) (width 0.1524) (layer "F.Cu") (net 7))
  (segment (start 214.34 15.654931) (end 214.273445 15.721486) (width 0.1524) (layer "F.Cu") (net 7))
  (via (at 214.273445 15.721486) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 7))
  (segment (start 226.592134 19.9318) (end 222.58583 19.9318) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 216.055189 21.555189) (end 215.09 20.59) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 222.58583 19.9318) (end 220.962441 21.555189) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 220.962441 21.555189) (end 216.055189 21.555189) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 215.09 20.59) (end 215.09 17.984396) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 215.09 17.984396) (end 214.461268 17.355664) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 214.59 16.575) (end 214.59 17.279) (width 0.1524) (layer "F.Cu") (net 6))
  (via (at 214.461268 17.355664) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 6))
  (segment (start 214.59 17.279) (end 214.513336 17.355664) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 215.463923 15.702176) (end 214.461268 16.704831) (width 0.1524) (layer "B.Cu") (net 6))
  (segment (start 214.513336 17.355664) (end 214.461268 17.355664) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 214.461268 16.996454) (end 214.461268 17.355664) (width 0.1524) (layer "B.Cu") (net 6))
  (segment (start 214.461268 16.704831) (end 214.461268 16.996454) (width 0.1524) (layer "B.Cu") (net 6))
  (segment (start 215.34 14.975) (end 215.34 15.578253) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 215.34 15.578253) (end 215.463923 15.702176) (width 0.1524) (layer "F.Cu") (net 6))
  (via (at 215.463923 15.702176) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 6))
  (segment (start 214.59 16.575) (end 214.59 16.18126) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 215.09 20.59) (end 215.094999 20.585001) (width 0.1524) (layer "F.Cu") (net 6))
  (segment (start 215.094999 20.585001) (end 215.936 20.585001) (width 0.1524) (layer "F.Cu") (net 6) (tstamp 5C8C7F1E))
  (segment (start 214.716801 21.397801) (end 214.716801 20.531801) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 226.6168 20.3382) (end 222.75417 20.3382) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 222.75417 20.3382) (end 221.23237 21.86) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 221.23237 21.86) (end 215.179 21.86) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 215.179 21.86) (end 214.716801 21.397801) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.408503 18.011888) (end 214.387013 18.011888) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.395 18.164299) (end 214.395 18.019875) (width 0.1524) (layer "F.Cu") (net 5))
  (via (at 214.387013 18.011888) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 5))
  (segment (start 215.055462 17.704935) (end 215.309461 17.450936) (width 0.1524) (layer "B.Cu") (net 5))
  (segment (start 214.387013 18.011888) (end 214.748509 18.011888) (width 0.1524) (layer "B.Cu") (net 5))
  (segment (start 214.716801 20.531801) (end 214.716801 18.320186) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 215.09 17.231475) (end 215.309461 17.450936) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.748509 18.011888) (end 215.055462 17.704935) (width 0.1524) (layer "B.Cu") (net 5))
  (segment (start 214.395 18.019875) (end 214.387013 18.011888) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 215.09 16.575) (end 215.09 17.231475) (width 0.1524) (layer "F.Cu") (net 5))
  (via (at 215.309461 17.450936) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 5))
  (segment (start 214.716801 18.320186) (end 214.408503 18.011888) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.84 15.5782) (end 214.84 14.975) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 215.09 16.575) (end 215.09 16.080097) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.84 15.830097) (end 214.84 15.5782) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 215.09 16.080097) (end 214.84 15.830097) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.716801 20.531801) (end 214.716801 20.559599) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.716801 20.559599) (end 214.6914 20.585) (width 0.1524) (layer "F.Cu") (net 5))
  (segment (start 214.6914 20.585) (end 213.904 20.585) (width 0.1524) (layer "F.Cu") (net 5) (tstamp 5C8C7F87))
  (segment (start 228.17 16.595) (end 226.3575 16.595) (width 0.762) (layer "F.Cu") (net 4))
  (segment (start 226.3575 16.595) (end 226.1975 16.435) (width 0.762) (layer "F.Cu") (net 4))
  (segment (start 229.52 15.935) (end 228.83 15.935) (width 0.762) (layer "F.Cu") (net 4))
  (segment (start 228.83 15.935) (end 228.17 16.595) (width 0.762) (layer "F.Cu") (net 4))
  (segment (start 228.12519 17.32981) (end 229.52 15.935) (width 0.762) (layer "B.Cu") (net 4))
  (segment (start 223.97519 17.32981) (end 228.12519 17.32981) (width 0.762) (layer "B.Cu") (net 4))
  (via (at 229.52 15.935) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 4))
  (segment (start 216.218841 15.700121) (end 216.218841 15.340911) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 216.218841 15.340911) (end 215.964842 15.086912) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 215.964842 15.086912) (end 215.964842 15.054842) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 213.895 14.86) (end 213.590509 15.164491) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 213.590509 15.164491) (end 213.590509 15.764641) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 215.77 14.86) (end 213.895 14.86) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 215.964842 15.054842) (end 215.77 14.86) (width 0.509) (layer "B.Cu") (net 4))
  (segment (start 215.936 18.684999) (end 216.59429 18.684999) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 216.59429 18.684999) (end 217.877643 17.401646) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 217.84853 17.372533) (end 217.877643 17.401646) (width 0.762) (layer "B.Cu") (net 4))
  (segment (start 217.84853 17.32981) (end 217.84853 17.372533) (width 0.762) (layer "B.Cu") (net 4))
  (via (at 217.877643 17.401646) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 4))
  (segment (start 217.84853 17.32981) (end 223.97519 17.32981) (width 0.762) (layer "B.Cu") (net 4))
  (segment (start 216.218841 15.700121) (end 217.84853 17.32981) (width 0.509) (layer "B.Cu") (net 4))
  (via (at 216.218841 15.700121) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 4))
  (via (at 213.590509 15.764641) (size 0.508) (drill 0.33) (layers "F.Cu" "B.Cu") (net 4))
  (segment (start 213.59 15.762922) (end 213.740044 15.612878) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 213.740044 15.612878) (end 213.740044 15.465453) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 213.59 16.575) (end 213.59 15.762922) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 213.740044 15.465453) (end 213.925599 15.279898) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 213.925599 15.279898) (end 213.925599 15.060599) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 213.925599 15.060599) (end 213.84 14.975) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 216.09 16.575) (end 216.09 15.762922) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 216.09 15.762922) (end 216.34 15.512922) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 216.34 15.512922) (end 216.34 14.975) (width 0.254) (layer "F.Cu") (net 4))
  (segment (start 206.9575 15.06) (end 206.9575 16.785) (width 0.508) (layer "F.Cu") (net 3))
  (segment (start 206.9575 16.785) (end 206.9075 16.835) (width 0.508) (layer "F.Cu") (net 3))
  (segment (start 209.115 10.575) (end 209.115 12.9025) (width 0.508) (layer "F.Cu") (net 3))
  (segment (start 209.115 12.9025) (end 206.9575 15.06) (width 0.508) (layer "F.Cu") (net 3))
  (segment (start 231.72 13.795) (end 228.17 13.795) (width 0.762) (layer "F.Cu") (net 2))
  (segment (start 220.72 19.235) (end 219.8575 19.235) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 224.3225 16.435) (end 224.3225 17.235) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 224.3225 17.235) (end 222.3225 19.235) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 222.3225 19.235) (end 220.72 19.235) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 224.3025 13.875) (end 224.3025 16.415) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 224.3025 16.415) (end 224.3225 16.435) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 217.9282 16.575) (end 219.82 18.4668) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 217.59 16.575) (end 217.9282 16.575) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 219.82 18.4668) (end 219.82 19.2725) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 219.82 19.2725) (end 218.67 20.4225) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 219.8575 19.235) (end 218.67 20.4225) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 205.0325 16.835) (end 208.62 20.4225) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 208.62 20.4225) (end 211.92 20.4225) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 217.67 20.41) (end 218.6575 20.41) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 218.6575 20.41) (end 218.67 20.4225) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 217.28235 20.02235) (end 217.67 20.41) (width 0.508) (layer "B.Cu") (net 1))
  (segment (start 212.876031 20.02235) (end 217.28235 20.02235) (width 0.508) (layer "B.Cu") (net 1))
  (via (at 217.67 20.41) (size 0.762) (drill 0.508) (layers "F.Cu" "B.Cu") (net 1))
  (segment (start 212.895 20.035) (end 212.5075 20.4225) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 213.904 19.026) (end 212.895 20.035) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 212.895 20.035) (end 212.888681 20.035) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 212.888681 20.035) (end 212.876031 20.02235) (width 0.508) (layer "F.Cu") (net 1))
  (via (at 212.876031 20.02235) (size 0.762) (drill 0.508) (layers "F.Cu" "B.Cu") (net 1))
  (segment (start 212.09 17.1885) (end 213.7897 18.8882) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 212.09 16.575) (end 212.09 17.1885) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 213.7897 18.8882) (end 213.904 18.8882) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 217.84 15.5782) (end 217.59 15.8282) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 217.84 14.975) (end 217.84 15.5782) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 217.59 15.8282) (end 217.59 16.575) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 212.09 15.855) (end 212.34 15.605) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 212.34 15.605) (end 212.34 14.975) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 212.09 16.575) (end 212.09 15.855) (width 0.2032) (layer "F.Cu") (net 1))
  (segment (start 213.904 18.8882) (end 213.904 19.026) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 212.5075 20.4225) (end 211.92 20.4225) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 205.0325 16.835) (end 205.0325 15.41) (width 0.508) (layer "F.Cu") (net 1))
  (segment (start 205.0325 15.41) (end 205.3825 15.06) (width 0.508) (layer "F.Cu") (net 1))

)
